In [1]:
import os
import pandas as pd
import numpy as np

In [12]:
data_folder1=os.path.join("D:\GF\input_2020",'1_5000')
data_folder2=os.path.join("D:\GF\input_2020",'5001_10000')
data_folder3=os.path.join("D:\GF\input_2020",'10001_end')
#importing data from local machine

In [13]:
data_folder1         #checking the path

'D:\\Gianfranco SICILIANO\\input_2020\\1_5000'

In [14]:
files1=[]
data1=[]
for root, folders,files in os.walk(data_folder1):
    for file in files:
        path=os.path.join(root,file)
        files1.append(file.rstrip(".txt"))
        with open(path,"r",encoding="latin-1") as inf:
            data1.append(inf.read())                   #saving the file names into files1 and data of those files into data1 respectively

In [16]:
files2=[]
data2=[]
for root, folders,files in os.walk(data_folder2):
    for file in files:
        path=os.path.join(root,file)
        files2.append(file.rstrip(".txt"))
        with open(path,"r",encoding="latin-1") as inf:
            data2.append(inf.read())

In [17]:
files3=[]
data3=[]
for root, folders,files in os.walk(data_folder3):
    for file in files:
        path=os.path.join(root,file)
        files3.append(file.rstrip(".txt"))
        with open(path,"r",encoding="latin-1") as inf:
            data3.append(inf.read())

In [15]:
df_1_5000=pd.DataFrame({"File_name":files1,"Data":data1})
df_1_5000.head()

                File_name                                               Data
0  AT0000609607_2020_earn  Press release\nPORR: Record order backlog prov...
1   AT0000609607_2020_pre  Press release\nPreliminary figures 2019:\nPORR...
2     AT0000609607_other1  Press Release\nPORR starts into 2020 with succ...
3     AT0000609607_other2  Press release\nPORR to modernise strategically...
4     AT0000609607_other3  Press release\nPORR hands over the Gleisarena ...

In [18]:
df_5001_10000=pd.DataFrame({"File_name":files2,"Data":data2})
df_5001_10000.head()

              File_name                                               Data
0  FR0010291245_other10  Verimatrix to Announce First Quarter 2020 Reve...
1  FR0010291245_other11  Waoo Takes TV Authentication and Analytics to ...
2  FR0010291245_other12  Verimatrix Re-engineers its VCAS for DVB Broad...
3  FR0010291245_other13  Filing of 2019 Universal Registration Document...
4  FR0010291245_other14  Code Protection Leaders Join Forces to Arm App...

In [19]:
df_10001_end=pd.DataFrame({"File_name":files3,"Data":data3})
df_10001_end.head()

              File_name                                               Data
0  GRS294003009_other10  Announcement of reorganization of BoD\nAgios S...
1  GRS294003009_other11  Announcement of resignation of a member of the...
2  GRS294003009_other12  Announcement\nAgios Stefanos, 19 February 2020...
3  GRS294003009_other13  Announcement\nThe Company with the name "FOLLI...
4  GRS294003009_other14  ANNOUNCEMENT OF ORGANIZATION OF THE BOARD OF D...

In [20]:
df_1_5000.shape,df_5001_10000.shape,df_10001_end.shape

((5000, 2), (5000, 2), (5807, 2))

In [22]:
Final_df=pd.concat([df_1_5000,df_5001_10000,df_10001_end],axis=0)
Final_df.head()                                                   #concatenating all the dataframes to form one single DataFrame

                File_name                                               Data
0  AT0000609607_2020_earn  Press release\nPORR: Record order backlog prov...
1   AT0000609607_2020_pre  Press release\nPreliminary figures 2019:\nPORR...
2     AT0000609607_other1  Press Release\nPORR starts into 2020 with succ...
3     AT0000609607_other2  Press release\nPORR to modernise strategically...
4     AT0000609607_other3  Press release\nPORR hands over the Gleisarena ...

In [24]:
Final_df.to_csv("Complete_GF_data_2020.csv",index=False)  #saving whole DataFrame as csv file

In [25]:
Final_df.shape

(15807, 2)