In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

%matplotlib inline
from urllib.request import urlopen
import nltk
from nltk.tokenize import word_tokenize  
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.porter import *
import spacy
import nltk
from nltk.tokenize.toktok import ToktokTokenizer
import re
import unicodedata

In [3]:
dfn=pd.read_excel(r'D:\Gianfranco SICILIANO\reshape_JanMay2020.xlsx', sheet_name="General info from parsing")
dfn.head()

,isin,country,exchange,bvd_sector,sic,comname,disclosure,date,words#
0,AT0000609607,Austria,Vienna Stock Exchange,Construction,1521,PORR AG,pre,2020-03-10,NaN
1,AT0000609607,Austria,Vienna Stock Exchange,Construction,1521,PORR AG,earn,2020-04-27,NaN
2,AT0000609607,Austria,Vienna Stock Exchange,Construction,1521,PORR AG,other1,2020-01-31,NaN
3,AT0000609607,Austria,Vienna Stock Exchange,Construction,1521,PORR AG,other2,2020-02-05,NaN
4,AT0000609607,Austria,Vienna Stock Exchange,Construction,1521,PORR AG,other3,2020-04-02,NaN

In [4]:
dfn.shape

(12813, 9)

In [5]:
dfn["File_name"]=dfn["isin"]+"_"+dfn["disclosure"]

In [6]:
dfn.head()

,isin,country,exchange,bvd_sector,sic,comname,disclosure,date,words#,File_name
0,AT0000609607,Austria,Vienna Stock Exchange,Construction,1521,PORR AG,pre,2020-03-10,NaN,AT0000609607_pre
1,AT0000609607,Austria,Vienna Stock Exchange,Construction,1521,PORR AG,earn,2020-04-27,NaN,AT0000609607_earn
2,AT0000609607,Austria,Vienna Stock Exchange,Construction,1521,PORR AG,other1,2020-01-31,NaN,AT0000609607_other1
3,AT0000609607,Austria,Vienna Stock Exchange,Construction,1521,PORR AG,other2,2020-02-05,NaN,AT0000609607_other2
4,AT0000609607,Austria,Vienna Stock Exchange,Construction,1521,PORR AG,other3,2020-04-02,NaN,AT0000609607_other3

In [7]:
dfn.drop(["words#"],axis=1,inplace=True)

In [8]:
dfn.shape

(12813, 9)

In [9]:
dfn.head()

,isin,country,exchange,bvd_sector,sic,comname,disclosure,date,File_name
0,AT0000609607,Austria,Vienna Stock Exchange,Construction,1521,PORR AG,pre,2020-03-10,AT0000609607_pre
1,AT0000609607,Austria,Vienna Stock Exchange,Construction,1521,PORR AG,earn,2020-04-27,AT0000609607_earn
2,AT0000609607,Austria,Vienna Stock Exchange,Construction,1521,PORR AG,other1,2020-01-31,AT0000609607_other1
3,AT0000609607,Austria,Vienna Stock Exchange,Construction,1521,PORR AG,other2,2020-02-05,AT0000609607_other2
4,AT0000609607,Austria,Vienna Stock Exchange,Construction,1521,PORR AG,other3,2020-04-02,AT0000609607_other3

In [10]:
dfl=pd.read_csv("Complete_GF_data_2020.csv")
dfl.head()

                File_name                                               Data
0  AT0000609607_2020_earn  Press release\nPORR: Record order backlog prov...
1   AT0000609607_2020_pre  Press release\nPreliminary figures 2019:\nPORR...
2     AT0000609607_other1  Press Release\nPORR starts into 2020 with succ...
3     AT0000609607_other2  Press release\nPORR to modernise strategically...
4     AT0000609607_other3  Press release\nPORR hands over the Gleisarena ...

In [11]:
dfl.shape

(15807, 2)

In [12]:
dff=pd.merge(dfn,dfl,on=["File_name"],how="left")

In [13]:
dff.shape

(12813, 10)

In [14]:
dff.head()

,isin,country,exchange,bvd_sector,sic,comname,disclosure,date,File_name,Data
0,AT0000609607,Austria,Vienna Stock Exchange,Construction,1521,PORR AG,pre,2020-03-10,AT0000609607_pre,NaN
1,AT0000609607,Austria,Vienna Stock Exchange,Construction,1521,PORR AG,earn,2020-04-27,AT0000609607_earn,NaN
2,AT0000609607,Austria,Vienna Stock Exchange,Construction,1521,PORR AG,other1,2020-01-31,AT0000609607_other1,Press Release\nPORR starts into 2020 with succ...
3,AT0000609607,Austria,Vienna Stock Exchange,Construction,1521,PORR AG,other2,2020-02-05,AT0000609607_other2,Press release\nPORR to modernise strategically...
4,AT0000609607,Austria,Vienna Stock Exchange,Construction,1521,PORR AG,other3,2020-04-02,AT0000609607_other3,Press release\nPORR hands over the Gleisarena ...

In [15]:
dff.to_csv("Final_GF_data_2020.csv",index=False)